
#home button{
    font-size: 18px;
}

#home button:hover{
    background-color: #C83230;
    color: white;
}

#home button a{
    color: inherit;
}

.textpre{
    font-size: 15px;
    color:#000
}

.text45{
    font-size: 19px;
    color:#000;
    font-weight: 500px;
    font-style: bold;
}

.aler{
    color:#C83230;
}

.sju{
    margin-top: 10px;
}

.tav{
    min-width: 200px;
    min-height: 10px;
    max-width: 210px;
    max-height: 20px;
    text-align: center;
    align-self: center;
    background-color: #ffff;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.round {
    position: relative;
    margin-top: 5px;
  }
  
  .round label {
    background-color: #fff;
    border: 2px solid #C83230;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-radius: 50%;
    content: "";
    height: 20px;
    left: 0.1px;
    opacity: 0;
    position: absolute;
    top: 0.4px;
    width: 20px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #C83230;
    border-color: #C83230;
    
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
.comp{
    background: #C83230;
    color:rgb(250, 250, 250)
}
.text3{
    font-size: 12px;
}
.icon2{
    color:#C83230;
    font-size: 26px;
    background-color: #fff;
    border-style: none;
    border-color:#fff

}
.icon2 :active {
    color:#fff;
    font-size: 26px;
    background-color: #C83230;
    border-style: none;
    border-color:#fff

}

.icon3{
    color:#C83230;
    font-size: 29px;
    background-color: #fff;
    border-style: none;

}
.icon3 :active{
    color:#fff;
    font-size: 29px;
    background-color: #C83230;
    border-style: none;
    border-color:#fff

}

#mui{
    background-color: rgb(250, 250, 250);
  
}
.hero-body{
    background: white;
    background-image: url("imagens/cestainicial.png");
    background-size: cover;
}

#logo{
    margin-top: 5px;
    margin-left: 5px;
    max-width: 160px;
}

div.navbar-end a{
    margin-right: 15px;
}

div.navbar-end a:hover{
    background-color: #C83230;
    color: white;
    cursor:pointer;
}

.card{
    background-color: rgba(0,0,0,0.4);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.p-compre{
    font-size: 23px;
}

div.card-content p.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}

.titab{
    background-color: #EDC995 ;
}

.trq{
    min-width: 50px;
    min-height: 10px;
    max-width: 100px;
    height: 10px;
}
.tot{
    background-color: #C83230 ;
    color:#fff;
}
.to{
    background-color: #C83230 ;
    border-bottom: 2px solid #C83230;
    color:#fff;
}
.tabsd{
    min-width: 180px;
    min-height: 180px;
    max-width: 1100px;
    max-height: 1100px;
    text-align: center;
    align-self: center;
    background-color: #ffff;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    
}
#table2{
    min-width: 100px;
    min-height: 20px;
    max-width: 200px;
    max-height: 100px;
    text-align: center;
    align-self: center;
    background-color: #C83230;
    border: 2px solid #C83230;
    border-radius: 3px;
    border-bottom: 2px solid #C83230;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
}

.contact{
    opacity: 0.8;
}

.contact:hover{
    opacity: 1;
    cursor: pointer;
}


#claimg{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    opacity: 0.8;
}

#claimg:hover{
    opacity: 1;
    cursor: pointer;
}

.input2{
    width: 70%;
    height: 29px;
    text-align: center;
    align-self: center;
    border: 2px solid #C83230;
    background-color: #fff;
    border-radius: 3px;
    border-bottom: 2px solid #C83230;
    padding: 0px;
    
}
.ajiu{
    min-width: 300px;
    min-height: 50px;
    max-width: 800px;
    max-height: 50px;
    text-align: center;
    align-self: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.ajula{
    min-width: 100px;
    min-height: 50px;
    max-width: 200px;
    max-height: 100px;
    text-align: center;
    align-self: center;
    font-size: 21px;
    background-color: #C83230;
    color: #fff;
    border: 2px solid #C83230;
    border-radius: 3px;
    border-bottom: 2px solid #C83230;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
}

#sobre{
    padding:0px;
}

#sobre .h-content{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}

#sobre .p-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: auto;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
}


#compre .h-content{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}

#compre .p-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: auto;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size:60px;
}

#compre .p-content p.content1{
    border: 6px dashed white;
    max-width: 400px;
    max-height: 1000px; 
    margin-bottom: 0px;
}


#compre .p-content p.content2{
    max-width: 400px;
    max-height: 500px; 
    margin-bottom: 0px;
    font-size:30px;
}

#compre .p-content img{
    max-width: 500px;
    
}

#compre {
   background-color: #EDC995;
}

.box{
    background-color: rgb(250, 250, 250);
}

.is-parent {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    margin-left: 15px;

}

.is-parent article{
    min-width: 250px;
    min-height: 320px;
    max-width: 400px;
    max-height: 550px;
    text-align: center;
    background-color: #ffff;

}

.container-depoi{
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;  
}


.img-depoi{
    border-radius: 10%;
    width: 140px;
}

#doe{
    padding-bottom: 0px;
    background-color: #EDC995;
}

#doe .content{
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}


#doe .h-content{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}

#doe .p-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-top: auto;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px;
}



#doe .p-content #texto-doar{
    border: 6px dashed white;
    max-width: 400px;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}


#doe .content p.content2{
    margin-bottom: 0px;
    font-size: 22px;
}


#image-doe-apple{
    max-width: 350px;  
    opacity: 0.8;
    border-radius: 40%; 
}

#image-doe-apple:hover{
    opacity: 1;
    cursor: pointer;
}

.p-content #img{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 300px;
    width: 40%; 
    min-width: 200px;
    margin-right: 120px;
    margin-left: 120px;

}

.footer{
    display: flex;   
    font-size: 60%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #363530;
    color: white;
    padding-top: 0px;
    padding-bottom: 5px;
    
}

.footer-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px; 
    margin-right: 120px;
    margin-left: 120px;
    max-width: 300px;
    width: 40%; 
    min-width: 200px;
   
}

.footer #image-logo{
    max-width: 300px; 
    margin-bottom: 10px;
}

#footer-logo{
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    margin-right: 6%;
    margin-left: 6%;
    font-size: 12px;
}

#contato{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 120px; 
}

