#foto{
    border-radius: 50px 0px 50px 0px; 
    width: 200px; 
    height: 260px;
    align-items: center;
    
}

body {
    text-align: center;
    background-color: #FDA871;
    
}

h1, h2, h3{
    color:blanchedalmond;
    font-family:'Open Sans', sans-serif; 
}

.listas{
    
    padding: 0px; 
    line-height: 30px;
}

.button{
    color:  #FDA871;
    background-color: black;
    padding: 10px; 
    border-radius: 6px;
    font-weight: 600;
    line-height: 50px;
    text-decoration: none;
}

#sobre{
    font-family:  sans-serif;
    text-align: justify;
    margin: 18px;
    font-size: 15px;
}

.destaque{
    font-family:  sans-serif;
    font-size: 15px

}

.n_destaque{
    font-family: sans-serif;
    font-size: 13px;

}